body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.nav {
  background: #222;
  padding: 15px;
}

.nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.page {
  padding: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.price {
  color: green;
  font-weight: bold;
}
